@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .styledScrollbarY {
    @apply overflow-y-scroll scrollbar scrollbar-track-gray-100 scrollbar-thumb-gray-300 scrollbar-thumb-rounded-xl scrollbar-w-2;
  }
  .styledScrollbarX {
    @apply overflow-x-scroll scrollbar scrollbar-track-gray-100 scrollbar-thumb-gray-300 scrollbar-thumb-rounded-xl scrollbar-h-2;
  }
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.ActionInModal [data-testid="flowbite-tooltip-target"] {
  width: 100% !important;
}

.ActionInModal [data-testid="flowbite-tooltip-target"] button {
  width: 100% !important;
}
